In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
plt.style.use('seaborn')

In [3]:
sale_data = pd.read_csv('data_available/sale_data_post_C&W.csv', sep=',')
sale_data.shape

(10448, 14)

In [4]:
sale_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10448 entries, 0 to 10447
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   daft_id          10448 non-null  int64
 1   url              10448 non-null  object
 2   name             10448 non-null  object
 3   price            10448 non-null  float64
 4   sale_type        10448 non-null  object
 5   floor_area       10448 non-null  int64
 6   entered_renewed  10448 non-null  object
 7   views            10448 non-null  float64
 8   type             10448 non-null  object
 9   scraping_date    10448 non-null  object
 10  latitude         10448 non-null  float64
 11  longitude        10448 non-null  float64
 12  bedroom          10448 non-null  int64
 13  bathroom         10448 non-null  int64
dtypes: float64(4), int64(4), object(6)
memory usage: 1.1+ MB

In [5]:
sale_data.sample()

,daft_id,url,name,price,sale_type,floor_area,entered_renewed,views,type,scraping_date,latitude,longitude,bedroom,bathroom
4144,16357273,https://www.daft.ie/for-sale/bungalow-636-whit...,"636 Whitechurch Road, Rathfarnham, Dublin 16",595000.0,For Sale by Private Treaty,91,2021-10-01,684.0,buy,2021-10-02,53.281523,-6.28529,3,2

- `price`
- `floor_area`
- `bedroom`
- `bathroom`