In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
sale_data = pd.read_csv('data_available/sale_data.csv', sep=',', parse_dates=['entered_renewed', 'scraping_date'])
sale_data.shape

(6573, 17)

In [6]:
sale_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6573 entries, 0 to 6572
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   daft_id                       6573 non-null   int64
 1   item_id                       6573 non-null   int64
 2   url                           6573 non-null   object
 3   name                          6573 non-null   object
 4   price                         6573 non-null   object
 5   info                          6573 non-null   object
 6   sale_type                     6573 non-null   object
 7   floor_area                    6573 non-null   object
 8   psr                           6573 non-null   object
 9   ber                           6555 non-null   object
 10  entered_renewed               6573 non-null   datetime64[ns]
 11  views                         6573 non-null   object
 12  type_house                    6573 non-null   object
 13  energy_performance_indicator  6573 non-null   object
 14  coordinates                   6573 non-null   object
 15  type                          6573 non-null   object
 16  scraping_date                 6573 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(13)
memory usage: 873.1+ KB

In [7]:
sale_data.head()

,daft_id,item_id,url,name,price,info,sale_type,floor_area,psr,ber,entered_renewed,views,type_house,energy_performance_indicator,coordinates,type,scraping_date
0,96215138,3545589,https://www.daft.ie/new-home-for-sale/caisle-n...,none,none,none,none,none,none,A2,2021-09-17,698,none,none,53.769903611763766+-7.83252110491398,buy,2021-10-17
1,16107862,3520762,https://www.daft.ie/for-sale/semi-detached-hou...,"1 The Glebe, Lucan, Co. Dublin","€485,000","5 Bed,5 Bath,Semi-D",For Sale by Private Treaty,For Sale by Private Treaty,none,B3,2021-09-17,"17,486",house,143.64 kWh/m2/yr,53.349759+-6.438304,buy,2021-10-17
2,95082852,3263387,https://www.daft.ie/new-home-for-sale/lus-aven...,none,none,none,none,none,none,NaN,2021-09-17,"3,710",none,none,53.425593562490974+-7.988669002810411,buy,2021-10-17
3,12341204,1461611,https://www.daft.ie/for-sale/terraced-house-te...,"Teach Nan, 2 Golf Cottages, Portnoo, Co. Donegal","€145,000","3 Bed,2 Bath,83 m²,Terrace",For Sale by Private Treaty,83 m²,none,C3,2021-09-17,"20,273",house,208.07 kWh/m2/yr,54.838244+-8.415513,buy,2021-10-17
4,12060034,1121281,https://www.daft.ie/for-sale/detached-house-gl...,"Glengesh, Ardara, Co. Donegal","€255,000","6 Bed,2 Bath,226 m²,Detached",For Sale by Private Treaty,226 m²,none,C2,2021-09-17,"16,760",house,180.28 kWh/m2/yr,54.742766+-8.436216,buy,2021-10-17