# Dublin Focus

En un primer lugar nos limitaremos a estudiar las potenciales oportunidades de inversion en Dublin. Posteriormente podriamos extenderlo a Galway and Cork.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
plt.style.use('seaborn')

In [4]:
sale_data = pd.read_csv('data_available/sale_data.csv', sep=',')
sale_data.shape

(6573, 17)

In [5]:
sale_data.sample()

,daft_id,item_id,url,name,price,info,sale_type,floor_area,psr,ber,entered_renewed,views,type_house,energy_performance_indicator,coordinates,type,scraping_date
5619,14662646,3205539,https://www.daft.ie/for-sale/terraced-house-4-...,"4 Saint Mary's Terrace, Wolf Tone Street, Co. ...","€230,000","3 Bed,1 Bath,90 m²,Terrace",For Sale by Private Treaty,90 m²,003259,D2,2021-09-25,"18,186",house,none,51.906163+-8.480996,buy,2021-09-25