# Minimum Viable Product

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

import joblib

In [3]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
plt.style.use('seaborn')

In [5]:
sale_data = pd.read_csv('data_available/sale_data_post_C&W.csv', sep=',')
sale_data.shape

(10448, 14)

In [7]:
sale_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10448 entries, 0 to 10447
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   daft_id          10448 non-null  int64
 1   url              10448 non-null  object
 2   name             10448 non-null  object
 3   price            10448 non-null  float64
 4   sale_type        10448 non-null  object
 5   floor_area       10448 non-null  int64
 6   entered_renewed  10448 non-null  object
 7   views            10448 non-null  float64
 8   type             10448 non-null  object
 9   scraping_date    10448 non-null  object
 10  latitude         10448 non-null  float64
 11  longitude        10448 non-null  float64
 12  bedroom          10448 non-null  int64
 13  bathroom         10448 non-null  int64
dtypes: float64(4), int64(4), object(6)
memory usage: 1.1+ MB

In [9]:
sale_data.sample()

,daft_id,url,name,price,sale_type,floor_area,entered_renewed,views,type,scraping_date,latitude,longitude,bedroom,bathroom
6480,15682433,https://www.daft.ie/for-sale/detached-house-to...,"Townagh, Ballinamuck, Co. Longford",65000.0,For Sale by Private Treaty,48,2021-09-26,7153.0,buy,2021-09-27,53.853087,-7.691479,2,1

In [8]:
y = sale_data['price'].copy()
y.shape

(10448,)

In [10]:
print(sale_data.shape)
X = sale_data[['floor_area']]
print(X.shape)

(10448, 14)
(10448, 1)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.15)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8880, 1), (1568, 1), (8880,), (1568,))

In [13]:
lr = LinearRegression().fit(X_train, y_train)
lr.intercept_, lr.coef_

(293856.62213354727, array([1011.26309927]))

In [15]:
lr.predict(X_test)

array([435433.45603134, 374757.67007514, 494086.715789  , ...,
       514311.9777744 , 359588.72358609, 416219.45714521])

In [18]:
len(lr.predict(X_test))

1568

In [16]:
# coeficiente de determinacion, R^2
lr.score(X_test, y_test) # Va bien como metrica

0.16141969205410356

In [17]:
lr.score(X_train, y_train)

0.12139168021094882

In [19]:
joblib.dump(lr, 'models/minimum_viable_model.plk')
# esto es genial <3

['models/minimum_viable_model.plk']

In [20]:
testing_load = joblib.load('models/minimum_viable_model.plk')

In [21]:
testing_load

LinearRegression()

In [22]:
testing_load.intercept_, testing_load.coef_

(293856.62213354727, array([1011.26309927]))